+ acoustics: pip install acoustics
+ tranforms3d: pip install transforms3d
+ pyfilerbank: download from https://github.com/SiggiGue/pyfilterbank and copy-paste to /home/dieter/anaconda3/lib/python3.6/site-packages